<div class="row filterArea">
  <div class="col-xs-6">
    <%= form_tag(request.url, enforce_utf8: false, method: :get) do %>
      <% if params[:keyword] %>
        <%= hidden_field_tag :keyword, params[:keyword] %>
      <% end %>
      <% if params[:option_type] && params[:option_value] %>
        <%= hidden_field_tag :option_type, params[:option_type] %>
        <%= hidden_field_tag :option_value, params[:option_value] %>
      <% end %>
      <%= select_tag :sort, options_for_select(@sort_options, selected: params[:sort]||"date_desc"), id: "guiest_id1", class: "select-drop", onchange: "this.form.submit();" %>
    <% end %>
  </div>
  <div class="col-xs-6">
    <div class="btn-group pull-right" role="group">
      <button type="button" class="btn btn-default active" onclick="window.location.href='/potepan/categories/1'"><i class="fa fa-th" aria-hidden="true"></i><span>Grid</span></button>
      <button type="button" class="btn btn-default" onclick="window.location.href='/potepan/product_list_left_sidebar'"><i class="fa fa-th-list" aria-hidden="true"></i><span>List</span></button>
    </div>
  </div>
</div>
