<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <% @sizes.each do |size| %>
        <li>
        <%= link_to potepan_products_path(option_type: "tshirt-size", option_value: size.name) do %>
          <%= size.name %><span><%= "(#{size.count_products})" %></span>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
