<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% @colors.each do |color| %>
        <li>
        <%= link_to potepan_products_path(option_type: "tshirt-color", option_value: color.name) do %>
          <%= color.name %><span><%= "(#{color.count_products})" %></span>
        <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
