<% provide(:title, @taxon.name) %>
<!-- LIGHT SECTION -->
<%= render "potepan/shared/light_section" %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "potepan/shared/category_index", taxonomies: @taxonomies %>
        <%= render "potepan/shared/select_from_colour"%>
        <%= render "potepan/shared/select_from_size"%>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "potepan/shared/filter_area" %>
        <div class="row">
          <%= render "potepan/shared/products_index", products: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render "potepan/shared/partners_logo"%>
