<!-- BANNER -->
<%= render "banner" %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render "popular_category" %>
    <%= render "new_products", new_products: @new_products %>
  </div>
</section>
<!-- LIGHT SECTION -->
<%= render "potepan/shared/partners_logo"%>
<!-- PORDUCT QUICK VIEW MODAL -->
<%= render "product_quick_view_modal" %>
