<li class="dropdown searchBox">
  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
  <ul class="dropdown-menu dropdown-menu-right">
    <li>
      <%= form_tag(search_potepan_products_path, id: "form01",name: "search", enforce_utf8: false, method: "get") do %>
      <span class="input-group">
        <%= text_field_tag("keyword", nil, placeholder:"Search…", class: "form-control", "aria-describedby" => "basic-addon2") %>
        <span onclick="document.search.submit();" class="input-group-addon addPointer" id="basic-addon2">検索</span>
      </span>
      <% end %>
    </li>
  </ul>
</li>
